#root {
  margin: 0 auto;
  text-align: center;
}

/* colors */
:root {
  --primary-color: #bb86fc;
  --background-color: #121212;
  --background-color-light: #1f1f1f;
  --primary-hover: #3a2d49;
}

.details-wrapper,
.index-wrapper {
  min-height: calc(100vh - 145px);
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
}

/* header */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 25px;
}

.header-content h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

/* cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--background-color-light);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in;
  padding: 2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  background-color: var(--primary-hover);
}

.card-container {
  padding: 2px 16px;
  border-top: 1px solid var(--primary-color);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0 75px;
}

.card-name {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* card details page */
.card-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.card-image-details {
  width: 300px;
  height: auto;
  margin-right: 1rem;
  align-self: flex-start;
}

.card-name-details {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.details-container p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.details-container h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

.details-container h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.details-container div {
  margin-bottom: 1rem;
}

.details-container div p {
  display: flex;
  align-items: flex-start;
}

.details-container .attack-container {
  border-bottom: #3a2d49 1px solid;
  padding-bottom: 10px;
}

.drawer {
  background-color: var(--background-color-light);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center; /* Vertically center the text */
  padding-left: 10px; /* Add padding for better visual appearance */
  text-align: left;
  border-radius: 15px;
  color: var(--primary-color);
}

.drawer:hover {
  background-color: var(--primary-hover);
  color: #fff;
}

.drawer-wrapper {
  width: 100%;
}

/* footer */
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bar {
  background-color: #0a0a0a;
}

.footer-wrapper {
  display: flex;
  padding: 0;
}

.navList {
  margin-right: 10px;
  display: flex;
  list-style-type: none;
  padding: 0;
  list-style: none;
}

/* pagination buttons */
.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 1rem;
}

.next-button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

.next-button:hover, .search-button:hover {
  background-color: #925fd1;
}

.previous-button,
.sort-button {
  background-color: var(--background-color);
  border: var(--primary-color) 1px solid;
  color: #fff;
  margin-left: 8px;
}

.previous-button:hover,
.sort-button:hover {
  background-color: var(--primary-hover);
}

.not-found {
  height: calc(100vh - 145px);
}

/* search */
.search-input {
  height: 34px;
  width: 300px;
}

.search-bar {
  align-items: center;
  display: flex;
}

.button-list {
  display: flex;
  justify-content: space-between;
}

.search-button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}
